<table>
    <tr>
	<th>Title</th>
	<th>Artist</th>
	<th>Album</th>
    </tr>
    {{range .}}
	<tr>
	    <td><a href="/song?id={{.Id}}">{{.Title}}</a></td>
	    <td>{{.Artist}}</td>
	    <td>{{.Album}}</td>
	</tr>
    {{end}}
</table>
